<i *ngIf="name === 'phone'" class="fa-solid fa-phone-volume"></i>
<i *ngIf="name === 'email'" class="fa-solid fa-envelope"></i>
<i *ngIf="name === 'signin'" class="fa-solid fa-right-to-bracket"></i>
<i *ngIf="name === 'signup'" class="fa-solid fa-user-plus"></i>
<i *ngIf="name === 'facebook'" class="fa-brands fa-facebook"></i>
<i *ngIf="name === 'twitter'" class="fa-brands fa-twitter"></i>
<i *ngIf="name === 'instagram'" class="fa-brands fa-instagram"></i>
<i *ngIf="name === 'youtube'" class="fa-brands fa-youtube"></i>
<i *ngIf="name === 'arrow-right'" class="fa-regular fa-square-caret-right"></i>
<i *ngIf="name === 'gps'" class="fa-solid fa-map-pin"></i>
<i *ngIf="name === 'directionarrow'" class="fa-solid fa-location-arrow"></i>
<i *ngIf="name === 'location'" class="fa-solid fa-location-dot"></i>
<i *ngIf="name === 'calendar'" class="fa-solid fa-calendar-days"></i>
<i *ngIf="name === 'search'" class="fa-solid fa-magnifying-glass"></i>
<i *ngIf="name === 'ticket'" class="fa-solid fa-ticket"></i>
<i *ngIf="name === 'bill'" class="fa-solid fa-money-bill-1-wave"></i>
<i *ngIf="name === 'wifi'" class="fa-solid fa-wifi"></i>
<i *ngIf="name === 'pillow'" class="fa-solid fa-bed"></i>
<i *ngIf="name === 'water'" class="fa-solid fa-bottle-water"></i>
<i *ngIf="name === 'drink'" class="fa-solid fa-wine-glass"></i>
<i *ngIf="name === 'dow'" class="fa-solid fa-chevron-down"></i>
<i *ngIf="name === 'up'" class="fa-solid fa-chevron-up"></i>
<i *ngIf="name === 'menu'" class="fa-solid fa-bars"></i>
<i *ngIf="name === 'close'" class="fa-solid fa-xmark"></i>
<i *ngIf="name === 'home'" class="fa-solid fa-house"></i>
<i *ngIf="name === 'about'" class="fa-solid fa-info-circle"></i>
<i *ngIf="name === 'faqs'" class="fa-solid fa-question-circle"></i>
<i *ngIf="name === 'blog'" class="fa-solid fa-blog"></i>
<i *ngIf="name === 'contact'" class="fa-solid fa-address-book"></i>
<i *ngIf="name === 'bus'" class="fa-solid fa-bus"></i>
<i *ngIf="name === 'bus-go'" class="fa-solid fa-bus-simple"></i>
<i *ngIf="name === 'seat'" class="fa-solid fa-chair"></i>
<i *ngIf="name === 'clock'" class="fa-regular fa-clock"></i>
<i *ngIf="name === 'support'" class="fa-solid fa-headset"></i>
<i *ngIf="name === 'user'" class="fa-solid fa-user"></i>
<i *ngIf="name === 'users'" class="fa-solid fa-users"></i>
<i *ngIf="name === 'send'" class="fa-solid fa-paper-plane"></i>
<i *ngIf="name === 'computer'" class="fa-solid fa-desktop"></i>
<i *ngIf="name === 'dashboard'" class="fa-solid fa-chart-simple"></i>
<i *ngIf="name === 'Dashboard'" class="fa-solid fa-tachometer-alt"></i>
<i *ngIf="name === 'check'" class="fa-solid fa-check"></i>
<i *ngIf="name === 'check-circle'" class="fa-solid fa-check-circle"></i>
<i *ngIf="name === 'x-circle'" class="fa-solid fa-circle-xmark"></i>
<i *ngIf="name === 'arrowleft'" class="fa-solid fa-arrow-left"></i>
<i *ngIf="name === 'logout'" class="fa-solid fa-right-from-bracket"></i>
<i *ngIf="name === 'notification'" class="fa-solid fa-bell"></i>
<i *ngIf="name === 'lock'" class="fa-solid fa-lock"></i>
<i *ngIf="name === 'money'" class="fa-solid fa-money-check-dollar"></i>
<i *ngIf="name === 'eye'" class="fa-solid fa-eye"></i>
<i *ngIf="name === 'eye-off'" class="fa-solid fa-eye-slash"></i>
<i *ngIf="name === 'trash'" class="fa-solid fa-trash-can"></i>
<i *ngIf="name === 'cancel'" class="fa-solid fa-ban"></i>
<i *ngIf="name === 'chat'" class="fa-solid fa-comments"></i>
<i *ngIf="name === 'download'" class="fa-solid fa-cloud-arrow-down"></i>
<i *ngIf="name === 'upload'" class="fa-solid fa-cloud-arrow-up"></i>
<i *ngIf="name === 'loading'" class="fa-solid fa-spinner animate-spin"></i>
<i *ngIf="name === 'road'" class="fa-solid fa-road"></i>
<i *ngIf="name === 'sms'" class="fa-solid fa-sms"></i>
<i *ngIf="name === 'circle-right'" class="fa-regular fa-circle-right"></i>
<i *ngIf="name === 'circle-left'" class="fa-regular fa-circle-left"></i>
<i *ngIf="name === 'plus'" class="fa-solid fa-plus"></i>