<div>
  <div class="flex items-center justify-start gap-2 cursor-pointer text-gray-500 hover:text-green-600 duration-300 px-5 py-3"
       (click)="goBack()">
    <i class="text-[12px]"><app-icon name="arrowleft"></app-icon></i>
    <span class="text-[12px] font-bold">Quay lại</span>
  </div>

  <div class="w-full flex flex-col justify-center">
    <h1 class="text-2xl font-bold mb-4 flex flex-col items-center">Quên mật khẩu</h1>

    <div class="bg-white w-full items-center justify-center px-5 md:px-10 mt-10">
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700 mb-1">Nhập email của bạn</label>
        <input type="email" [(ngModel)]="email"
               class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500"
               placeholder="Nhập email...">
      </div>

      <div class="py-4 justify-center items-center flex">
        <button [disabled]="isSearching"
                (click)="submit()"
                [class]="'text-white border border-b-4 w-80 font-medium px-4 py-2 rounded-md ' +
                         (isSearching ? 'bg-gray-500 border-gray-500 cursor-not-allowed' : 'cursor-pointer bg-green-700 border-green-400')">
          <span *ngIf="isSearching"><app-icon name="loading"></app-icon> Đang tìm kiếm...</span>
          <span *ngIf="!isSearching"><app-icon name="search"></app-icon> Tìm kiếm</span>
        </button>
      </div>
    </div>

    <p *ngIf="message" class="mt-4 text-center text-gray-700">{{message}}</p>
  </div>
</div>